.contact-form__input {
  background-color: #BBCF0C;
  border-radius: 1rem;
  padding: 0.7rem;
  color: black;
  width: 90%;
  
  &__button {
    background-color: #BBCF0C;
    border-radius: 1rem;
    padding: 0.7rem;
    color: black;
    margin: 2rem;
  }
}