

.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  @include large {
    width: 60%;
  }
}

.slider {
  display: flex;
  overflow: hidden; // on empêche le contenu qui dépasse de s'afficher
  align-items: center;
  width: 98%;
  margin: auto;

  &__item {
    // on retire la capacité de ces blocs à s'écraser pour laisser passer tout le monde sur la ligne
    // sinon, la propiété width: 100% ne sera pas respectée
    flex-shrink: 0;
    width: 100%;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__button {
      border: 1px solid #BBCF0C;
      cursor: pointer; // le curseur doit être une main car l'élément va avoir un effet si cliqué
      height: 1.5rem;
      text-align: center;
      margin: 0.5rem;
      width: 2rem;

       // traduit en css => .carousel__nav__button.active
       &.active {
        border: 1px solid blue;
      }
    }
  }
}