.main {
background-color:$blue;
  color: white;
  padding: 1rem;

  @include large {
    background-size: 140%;
  }
}

.main__description {
  @include large {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between ;
    align-items: stretch;
    width: 100%;
  }
}

.main__description__infos {
  @include large {
    display: flex;
    flex-direction: column;
    width: 35%;
  }
}

.main__description__content {
  @include large {
    width: 100%;
  }
}

.main__description__comp {
 @include large {
   width: 100%;
 }
}

.main__description__carrousel {
  @include large {
    width: 60%;
  }
}